body {
	margin: 0;

}

a {
	display: inline-block;
}

header, .quote {
	text-align: center;
	color: limegreen;
	height: 500px;
	background-size: cover;	
	padding-top: 150px;
	margin-top: 0px;
	background: lightgreen url(../images/header-bg.jpg) center
no-repeat;
}


header p {
	color:white;
	font-style: italic;

}

header h1 {
	font-size: 60px;
	text-transform: uppercase;
	letter-spacing: 10px;

}

header a{ 
	color:white ;
	font-family: 'Montserrat',sans-serif;
	border: 5px solid white;
	padding: 10px 40px;
	text-decoration:none;
 }

 header a:hover {
 	background: white;
 	color: black;
 }
/* header stuff */

.categories a { 
	color:black ;
	font-family: 'Montserrat',sans-serif;
	border: 5px solid black;
	padding: 10px 20px;
	text-decoration:none;
 }

 .categories a:hover {
 	background: black;
 	color: white;
 }

 h1, h2, h3, h4 {
	font-family: 'Montserrat', sans-serif;
}

nav ul li {
	display: inline;
}


nav a {
	color: black;
	text-decoration: none;
	font-family: 'Montserrat',sans-serif;
	margin-right: 15px;

}

.logo{
	color:red;
	margin-right: 30px;

}

.categories {
	text-align: center;

}

.categories ul {
	padding: 0;
}

.categories ul li {

	width: 23%;
	float: left;
	list-style: none;
	padding: 0 1%;
	margin-bottom: 30px
}

.categories img{ 
max-width: 100%;
 }

.quote {
	clear: both;
}

.quote {

	background: lightgreen url(../images/quote-bg.jpg) center
no-repeat;

	background-attachment: fixed;
	background-size: cover;
	text-align: center;
	min-height: 400px;
	padding:40px;
	color: white;
}
.quote h1{
	font-size: 36px;
	margin-top:0;
	text-transform: uppercase;
}	

.quote a{ 
	color:white ;
	font-family: 'Montserrat',sans-serif;
	border: 5px solid white;
	padding: 10px 40px;
	text-decoration:none;
 }

 .quote a:hover {
 	background: white;
 	color:black;
 }

.featured {
	text-align: center;	
}

.featured ul{
	padding:0;
}
.featured img {
max-width: 100%
}
.featured ul li {
	width: 30%;
	float: left;
	list-style: none;
	padding: 0 1.6%;

}

footer {
clear: both;
padding-top: 20px 0;
background-color: black;
text-align: center;
background-size: cover;
font-family: 'montserrat';
color:white;
}

footer img {
 	width: 50px;
 	height: auto;
 	margin: 0 5px;
	
	

}
